
.active{
    @apply text-cyan-700
  }

.horizontalLine{
    width: 300px;
    height: 3px;
    margin: auto;
    animation: moveUp 3s 1s ease-in-out infinite;
    background: linear-gradient(to right, rgba(185, 143, 95, 0.15), #b803fa, rgba(185, 143, 95, 0.15));
}

@keyframes moveUp {

    0%,
    100% { transform: translateY(0); }
    20%  { transform: translateY(-3px); }
    50%  { transform: translateY(-8px); }
  
  }